<h5 class="main-body-title">企业形象宣传</h5>
<ul class="slogan">
  <li>科学管理</li>
  <li>安全可靠</li>
  <li>保证供应</li>
  <li>规范服务</li>
  <li>安全为魂</li>
  <li>服务为本</li>
</ul>
<div class="main-body-text para">
  <h5>西郊分公司为城市低保、残疾、孤寡老人提供免费送气服务。</h5>
  <div class="clearfix">
    <div class="image col-sm-6 col-md-6"><img src="<%=asset_path "advertise/action-1.png"%>" /></div>
    <div class="image col-sm-6 col-md-6 clearfix"><img src="<%=asset_path "advertise/action-2.png"%>" /></div>
  </div>
</div>
<div class="main-body-text para">
  <h5>为广大市民提供液化气安全使用的免费咨询服务。</h5>
  <div class="clearfix">
    <div class="image col-sm-6 col-md-6"><img src="<%=asset_path "advertise/action-3.png"%>" /></div>
    <div class="image col-sm-6 col-md-6 clearfix"><img src="<%=asset_path "advertise/action-4.png"%>" /></div>
  </div>
  <p>西郊分公司工作人员热情地向用户宣讲减压器和胶管的检查方法，并认真解答了用户提出的相关问题。用户们不仅进一步了解了液化气安全使用常识、提高了安全防范意识，还收到了印有公司LOGO的常用液化气用具小配件及安全宣传材料。</p>
</div>
<div class="main-body-text para">
  <h5>老旧小区天然气改造，为居民解决暂时性用气服务。</h5>
  <div class="clearfix">
    <div class="image col-sm-6 col-md-6"><img src="<%=asset_path "advertise/action-5.png"%>" /></div>
    <div class="image col-sm-6 col-md-6 clearfix"><img src="<%=asset_path "advertise/action-6.png"%>" /></div>
  </div>
  <p>西郊分公司在天然气改造置换期间提供罐装液化气解决居民们生活用气的问题，调拨充足的15KG罐装液化气，良好的完成了华龙苑小区居民天然置换档案登记工作。</p>
</div>
