<div class="hero_container">
	<div class="hero">
    <%= render 'carousel' %>
		<div>
			<p class="slogans">
				<span class="slogan">科学管理 安全可靠 保证供应 </span>
				<span class="slogan">规范服务 安全为魂 服务为本</span>	
			</p>
			<button class="btn btn-warning btn-lg btn-buy hidden-xs" type="button" data-toggle="modal" data-target="#placeOrderFormContainer">立即订购</button>
		</div>
	</div>
</div>

<div class="intro_container">
	<div class="intro content-container row">
		  <div class="col-sm-6 col-md-4 item">
        <h5><a href="/intro/products">产品介绍 >></a></h5>
        <a href="#" class="thumbnail">
      			<img src="<%=asset_path "6.png"%>" alt="产品介绍">
    		</a>
    		<p>西郊分公司目前在售的气瓶规格有5kg、15kg、50kg（气相）、50kg（液相）。多种规格的气瓶类型可为用户提供不同的需求。 </p>
  		</div>
      <div class="col-sm-6 col-md-4 item">
        <h5><a href="/safety">质量安全 >></a></h5>        
        <a href="#" class="thumbnail">
            <img src="<%=asset_path "28.png"%>" alt="自动化灌装工艺">
        </a>
        <p>自动化灌装工艺，严格的质量检验过程，每日由质检人员对灌装后的重瓶按照公司《瓶装液化石油气质量标准》进行抽检，确保灌装质量，杜绝缺斤短两杜绝不合格钢瓶的出厂。 </p>
      </div>
  		<div class="col-sm-6 col-md-4 item">
    		<h5><a href="intro/advertise">公众服务 >></a></h5>
        <a href="#" class="thumbnail">
      			<img src="<%=asset_path "8.png"%>" alt="企业形象">
    		</a>
    		<p>西郊分公司为城市低保、残疾、孤寡老人提供免费送气服务。为广大市民提供液化气安全使用的免费咨询服务。</p>
  		</div>
	</div>
</div>

<div class="other_container">
  <div class="other content-container row">
    <div class="about-us col-sm-6 col-md-8 para">
      <h5>关于我们</h5>
      <p>西郊分公司始建于1964年，1965年正式投产运行。经过1978年扩建、1990年停产重建，后经2003、2011年两次车间改造，投入生产至今。分公司位于海淀区板井村彰化村路南侧，占地面积39853.81m<sup>2</sup>，总建筑面积11500m<sup>2</sup>，归属于海淀区八里庄街道办事处，在职职工共计442人，年设计灌装能力：50000吨。</p>
      <p>北京市液化石油气公司是国家大型一类燃气企业，经营范围主要包括：液化石油气储存、灌装、运输、销售、燃气工程设计施工，设备维修及燃气具销售，以液化气作燃料的汽车改装工作，以及液化石油气加气站的建设、对外经营等。公司下设储备分公司、西郊分公司、南郊分公司、设备工程分公司、三鳞钢瓶检测检修有限公司以及四个销售管理所等基层单位。现有职工2200人，固定资产10.13亿元，储备能力为1.8万吨，液化气长输管线206公里，液化气供应站67个，供应平、议价用户135万户，年销售量16余万吨。</p>
      <p>公司历经30余年的发展，建立了大规模的贮备、输配、销售系统和一支优秀的技术队伍，具备了液化气及其专用设备灶具的零售、批发；承接燃气工程的设计、施工；大型专业设备维护、技术开发等完善的服务功能，并在技术方面始终处于国内先进行列，在同行业中有较高的声誉。公司注重新技术的应用，把科学技术进步作为企业发展的龙头。公司成立以来，投入了大量的人力、物力和财力，用于信息化技术的开发和应用，新供应方式的推广、液化气多用途的试验等。同时公司注重不断学习同行及国外的先进经验技术， 广泛开展技术交流与合作，积极参与各种组织。</p>
      <p>目前，我公司是世界液化石油气论坛成员单位，中国城市燃气协会常务理事单位，中国城市燃气学会液化气专业委员会主任单位，北京市燃气协会副理事长单位等。</p>
    </div>
    <div class="col-sm-6 col-md-4">
    <h5>企业动态</h5>
      <p class="news"><span class="icon glyphicon glyphicon-volume-down"></span>总建筑面积11500平方米，归属于海淀区八里庄街道办事处，在职职工共计442人，年设计灌装能力：50000吨。 </p>
      <br />
      <p class="news"><span class="icon glyphicon glyphicon-volume-down"></span>北京市液化石油气公司是国家大型一类燃气企业，经营范围主要包括：液化石油气储存、灌装、运输、销售、燃气工程设计施工，设备维修及燃气具销售，以液化气作燃料的汽车改装工作，以及液化石油气加气站的建设、对外经营等。公司下设储备分公司</p>       
    </div>
  </div>  
</div>
<%= render 'modals/order_form' %>
