
<div class="news-list">
  <button class="new-news btn btn-primary btn-lg hidden-xs" type="button" data-toggle="modal" data-target="#createNewsFormContainer">创建新企业动态</button>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>内容</th>
        <th class="datetime">发布时间</th>
        <th class="actions">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <%- @news_list.each do |news| %>
      <tr>
        <td><%= news.content %></td>
        <td class="datetime"><%= to_full_time(news.updated_at) %></td>
        <td class="actions">
          <a><span class="action" data-toggle="modal" data-target="#editNewsFormContainer" data-news-id="<%=news.id%>">编辑</span></a>
          <span class="seperator">|</span>
          <a><span class="action" data-news-id="<%=news.id%>">删除</span></a>
        </td>
      </tr>
      <%- end %>
    </tbody>
  </table>
</div>


<%= render 'create_news' %>
<%= render 'edit_news' %>