<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>BjgasRepo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= yield :head %>  
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
  	<div class="header_title content-container">
      <a class="title" href="/"><img class="logo" src="assets/logo.jpg"></img><h1 class="text hidden-xs"><span class="ch">北京液化气</span><span class="en">BEIJING LP GAS</span></h1></a>
  		<div  class ="btn-group nav_menu_m visible-xs" >
           <button  class ="btn btn-lg dropdown-toggle"  data-toggle ="dropdown" ><span class="glyphicon glyphicon-align-justify">&nbsp;</span><span class ="caret" ></span></button>
           <ul class ="dropdown-menu pull-right">
             <li><a href ="/">首页</a></li>
             <li role="presentation" class="divider"></li>
             <li><a href ="/intro">公司简介</a></li>
             <li role="presentation" class="divider"></li>
             <li><a href ="#">业务介绍</a></li>
             <li role="presentation" class="divider"></li>
             <li><a href ="#">运输与配送</a></li>
             <li role="presentation" class="divider"></li>
             <li><a href ="#">网点地址</a></li>
           </ul>
         </div>
  	</div>
	<div class="nav_bg hidden-xs">
	  <div class="nav_menu">
	    <ul class="nav_bar">
	      <li><a href ="/">首页</a></li>
	      <li><a href ="/intro">公司简介</a></li>
	      <li><a href ="#">业务介绍</a></li>
	      <li><a href ="#">运输与配送</a></li>
	      <li class="last"><a href ="#">网点地址</a></li>
	    </ul>
	  </div>
	</div>
  </div>
  
<%= yield %>

</body>
</html>
